# COGS 9, Section 4 Demo: Data Wrangling and Tidy Data

In [ ]:
import pandas as pd

In [ ]:
df_game_messy = pd.read_csv('game_data_messy.csv')
df_game_messy

Let's try melting this

In [ ]:
df_game_tidy = df_game_messy.melt()
df_game_tidy

Oops- What went wrong there?
Pandas has no idea which columns we want to preserve as variables, and which are values we want to stack.

It turns out you just pass the list of variable column names as the first argument.

In [ ]:
df_game_tidy = df_game_messy.melt(['id','Age','Country'])
df_game_tidy

This is pretty good, but 'variable' and 'value' are hard to interpret. We could rename these to something more useful, or pass them into the melt function.

In [ ]:
df_game_tidy = df_game_messy.melt(['id','Age','Country'],
                                  value_name="Score",
                                  var_name="Game")
df_game_tidy

Now your data are tidy it is **very easy to plot**, using Seaborn

In [ ]:
import seaborn as sns
from matplotlib import pylab, mlab, pyplot
plt = pyplot

In [ ]:
plt.figure()
sns.barplot(data = df_game_tidy,
            x = 'Game',
            y = 'Score',
            hue = 'id'
            )
plt.show()

In [ ]:
plt.figure()
sns.barplot(data = df_game_tidy,
            x = 'Game',
            y = 'Score',
            hue = 'Country'
            )
plt.show()